# Web framework
fastapi
uvicorn
jinja2
python-multipart

# Core dependencies
openai==0.28.0
numpy==1.24.3
torch==2.1.0
transformers==4.36.2
requests==2.31.0
python-dotenv==1.0.1
scipy==1.11.4
thefuzz==0.20.0
unittest-xml-reporting==3.2.0
gunicorn==21.2.0

# Database dependencies
SQLAlchemy

# Testing and Mocking
pytest==7.4.3
pytest-mock==3.12.0
unittest2==1.1.0

